<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Portifolio</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto do Luiz">
            <h1>Luiz Fernando</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/lf-monteiro/">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://github.com/luizssilva99">
                    <i class="bi bi-github"></i>
                </a>

                <a target="_blank" href="https://instagram.com/luizssilva_">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio">
                        <i class="bi bi-house"></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        <i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo">
                        <i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio">
                        <i class="bi bi-collection"></i> Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="bi bi-envelope"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex align-items-center justify-content-center flex-column">
                <h2 class="text-white text-shadow pb-3">Luiz Fernando</h2>
                <span id="subtitle" class="text-white text-shadow ps-4">Cientista de Dados e Desenvolvedor Python
                    Jr</span>
            </div>
        </section>

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Olá! Sou programador Python com mais de 2 anos de experiência, meu foco principal está na
                        análise de dados e ciência de dados. Sou apaixonado por transformar informações em insights
                        valiosos que impulsionam o sucesso empresarial.<br><br>

                        Minha jornada começou com uma paixão pelo mundo da programação e logo me vi imerso no universo
                        do Python. Ao longo dos anos, desenvolvi habilidades sólidas em manipulação e análise de dados,
                        utilizando bibliotecas e ferramentas poderosas. Meu objetivo
                        é encontrar padrões, identificar oportunidades e oferecer soluções baseadas em dados que
                        impulsionem as estratégias de negócios.<br><br>

                        Do desenvolvimento de algoritmos eficientes à criação de modelos de aprendizado de máquina,
                        estou sempre em busca de desafios que expandam meus horizontes e me permitam crescer
                        profissionalmente. Sou um apaixonado por resolver problemas complexos por meio da programação e
                        da análise de dados.<br><br>

                        Além das habilidades técnicas, possuo uma mente analítica e criativa, capaz de traduzir dados em
                        histórias que fazem sentido e envolvem o público. Acredito que a comunicação clara e persuasiva
                        é fundamental para o sucesso de qualquer projeto.<br><br>

                        Tenho uma abordagem colaborativa e adoro trabalhar em equipe, onde posso compartilhar meus
                        conhecimentos e aprender com os demais. Sou dedicado, proativo e comprometido em entregar
                        resultados de alta qualidade, sempre atendendo às expectativas dos clientes.<br><br>

                        Estou entusiasmado para continuar expandindo meu conhecimento em análise e ciência de dados,
                        enfrentando novos desafios e contribuindo para o crescimento das empresas com as quais colaboro.
                        Se você está procurando um programador Python apaixonado por análise de dados e resolução de
                        problemas, estou pronto para fazer a diferença na sua equipe.<br><br>

                        Essa é a minha história até o momento, e estou animado para continuar escrevendo o próximo
                        capítulo com você. Vamos trabalhar juntos para impulsionar o sucesso através da programação e
                        análise de dados!<br><br>

                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="Foto do Luiz" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Desenvolvedor Python | Cientista de Dados</h3>


                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Nascimento: <span class="fw-light">08 de maio de 1999</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-light">24 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-light">Brasília</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-light">Distrito Federal</span>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-light">Futebol, Futevolei</span>
                                </li>
                                <li class="list-group-item">
                                    Experiencia: <span class="fw-light">+2 anos</span>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>
            </div>

        </section>

        <section id="habilidades" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>

                <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades tecnicas e não técnicas,
                    a maioria delas estao aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada
                    uma delas.
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Power BI</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar"
                                aria-label="power bi" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                data-anime="left">100%</div>
                        </div>

                        <p class="mt-3 mb-0">Excel</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar"
                                aria-label="excel" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                data-anime="left">100%</div>
                        </div>

                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark"
                                style="width: 65%" role="progressbar" aria-label="python" aria-valuenow="65"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">65%</div>
                        </div>

                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark"
                                style="width: 40%" role="progressbar" aria-label="html" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">40%</div>
                        </div>

                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark"
                                style="width: 40%" role="progressbar" aria-label="css" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">40%</div>
                        </div>

                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark"
                                style="width: 30%" role="progressbar" aria-label="javascript" aria-valuenow="30"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">30%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark"
                                style="width: 90%" role="progressbar" aria-label="sql" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">90%</div>
                        </div>

                        <p class="mt-3 mb-0">Pandas</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark"
                                style="width: 90%" role="progressbar" aria-label="pandas" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">90%</div>
                        </div>

                        <p class="mt-3 mb-0">NumPy</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark"
                                style="width: 70%" role="progressbar" aria-label="NumPy" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">70%</div>
                        </div>

                        <p class="mt-3 mb-0">Matplotlib</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark"
                                style="width: 70%" role="progressbar" aria-label="Matplotlib" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">70%</div>
                        </div>

                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark"
                                style="width: 10%" role="progressbar" aria-label="flask" aria-valuenow="10"
                                aria-valuemin="0" aria-valuemax="100" data-anime="left">10%</div>
                        </div>
                    </div>

                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar"
                                aria-label="Trabalho em equipe" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100" data-anime="left">100%</div>
                        </div>

                        <p class="mt-3 mb-0">Adaptabilidade</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar"
                                aria-label="Adaptabilidade e flexibilidade" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100" data-anime="left">100%</div>
                        </div>
                        <p class="mt-3 mb-0">Flexibilidade</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar"
                                aria-label="Flexibilidade" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                data-anime="left">100%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Curiosidade</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar"
                                aria-label="Curiosidade" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                data-anime="left">100%</div>
                        </div>
                        <p class="mt-3 mb-0">Facilidade de aprendizado</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar"
                                aria-label="Facilidade de aprendizado" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100" data-anime="left">100%</div>
                        </div>

                        <p class="mt-3 mb-0">Pensamento analítico</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar"
                                aria-label="Pensamento analítico" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100" data-anime="left">100%</div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section id="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Pós Graduação - Data Science</h4>
                            <h5>2023 - Atualmente</h5>
                            <p><em>Pós Descomplica</em></p>
                            <p>Pós Graduação em Data Science, com carga horária de 360 horas</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Sistemas de Informação</h4>
                            <h5>2017 - 2020</h5>
                            <p><em>União Pioneira de Integração Social - UPIS</em></p>
                            <p>Bacharel em Sistemas de Informação, com carga horária de 3045 horas</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Chefe da Divisão de Pesquisa e Análise de Solução de Tecnologia da Informação e
                                Comunicação</h4>
                            <h5>2023 - Atualmente</h5>
                            <p><em>Ministério da Justiça e Segurança Pública - Subsecretaria de Tecnologia da
                                    Informação</em></p>
                            <p>Como parte das minhas responsabilidades, utilizo diariamente ferramentas como Python,
                                Power BI, Excel, Microsoft Azure e SQL Server. <br> Sou responsável pelo atendimento dos
                                chamados direcionados ao grupo "CID - Atendimento", que engloba as mesas de atendimento
                                de "Dados", incluindo "Assessoria", "Suporte a acesso a dados" e "Suporte a BI". <br>
                                Essas
                                mesas são subdivididas em diversas áreas, como "Assessoria à definição de solução de
                                dados", "Suporte ao compartilhamento de Base de Dados", "Suporte de acesso a dados via
                                API", "Evolução de painel de BI", "Solicitar acesso ao Power BI" e "Sustentação de
                                solução de BI".</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Assistente Técnico do Subsecretário de Tecnologia e Informação e Comunicação</h4>
                            <h5>2023 - 2023</h5>
                            <p><em>Ministério da Justiça e Segurança Pública - Subsecretaria de Tecnologia da
                                    Informação</em></p>
                            <p>Utilizei ferramentas como Python, Power BI, Excel, Microsoft Azure e SQL Server
                                diariamente. <br>Fui responsável pelo atendimento dos chamados direcionados ao grupo
                                "CID -
                                Atendimento", que contemplava as mesas de atendimento de "Dados", incluindo
                                "Assessoria", "Suporte a acesso a dados" e "Suporte a BI". <br>Essas mesas eram
                                desdobradas
                                em diversas áreas, como "Assessoria à definição de solução de dados", "Suporte ao
                                compartilhamento de Base de Dados", "Suporte de acesso a dados via API", "Evolução de
                                painel de BI", "Solicitar acesso ao Power BI" e "Sustentação de solução de BI".</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Assistente Técnico do Ouvidor-Geral</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>Ministério da Justiça e Segurança Pública - Ouvidoria</em></p>
                            <p>No meu dia a dia, utilizei diariamente ferramentas como Python, Power BI, Excel e Plone
                                em
                                todas as minhas tarefas. <br>Além disso, mantenho um relacionamento direto e dinâmico
                                com
                                servidores, o que me ajudou a aprimorar minhas habilidades de comunicação e trabalho em
                                equipe.Utilizava metodologias ágeis para a gestão da equipe.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Chefe da Divisão de Análise de Dados e Estatística</h4>
                            <h5>2022 - 2022</h5>
                            <p><em>Ministério da Justiça e Segurança Pública - Ouvidoria</em></p>
                            <p>No meu dia a dia, utilizei diariamente ferramentas como Python, Power BI, Excel e Plone
                                em
                                todas as minhas tarefas. Além disso, mantenho um relacionamento direto e dinâmico com
                                servidores, o que me ajudou a aprimorar minhas habilidades de comunicação e trabalho em
                                equipe.<br>Também tive a oportunidade de liderar a implementação da LGPD no âmbito
                                Federal
                                e fazia uso de metodologias ágeis para a gestão da equipe.</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Analista de Suporte Computacional</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>Colégio Instituto São José</em></p>
                            <p>Manutenção e Suporte computacional</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portifolio" class="mt-5 section-bg">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portifólio</h2>

                <div id="carouselPortifolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/eje.png" class="card-img-top img-fluid w-100" alt="#">
                                        <div class="card-body">
                                            <h5 class="card-title">Sistema EJE</h5>
                                            <p class="card-text">Sistema de catálogo e cadastro de pessoas que fizeram o
                                                encontro EJE</p>
                                            <div class="pt-1 pb-4 d-flex justify-content-center">
                                                <i class="fa-brands fa-python fa-2xl" style="color: #363537"></i>
                                                <i class="fa-brands fa-html5 fa-2xl ps-2" style="color: #363537"></i>
                                                <i class="fa-brands fa-bootstrap fa-2xl ps-2"
                                                    style="color: #363537;"></i>
                                                <i class="fa-solid fa-database fa-2xl ps-2" style="color: #363537"></i>
                                                <i class="fa-brands fa-aws fa-2xl ps-2" style="color: #363537"></i>
                                            </div>

                                            <div class="pt-1 d-flex justify-content-center">
                                                <a href="#" class="btn btn-outline-primary" target="_blank">
                                                    <i class="bi bi-link-45deg"> Acessar site</i>
                                                </a>
                                                <a target="_blank" href="https://github.com/luizssilva99/EJEAPP2023"
                                                    class="btn btn-outline-primary">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/teste.jpg" class="card-img-top img-fluid w-100" alt="#">
                                        <div class="card-body">
                                            <h5 class="card-title">Calculadora</h5>
                                            <p class="card-text">Calculadora simples criada com Python</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="btn btn-outline-primary">
                                                    <li class="bi bi-link-45deg"></li>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/teste.jpg" class="card-img-top img-fluid w-100" alt="#">
                                        <div class="card-body">
                                            <h5 class="card-title">Calculadora</h5>
                                            <p class="card-text">Calculadora simples criada com Python</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="btn btn-outline-primary">
                                                    <li class="bi bi-link-45deg"></li>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/teste.jpg" class="card-img-top img-fluid w-100" alt="#">
                                        <div class="card-body">
                                            <h5 class="card-title">Calculadora</h5>
                                            <p class="card-text">Calculadora simples criada com Python</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="#" class="btn btn-outline-primary">
                                                    <li class="bi bi-link-45deg"></li>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section id="contato" class="pt-5 pb-5">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Sobradinho, Brasília - DF</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> E-mail:</h4>
                                <p>luizssilva_@outlook.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122897.88733235358!2d-48.0932505072907!3d-15.721541568615166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3d18df9ae275%3A0x738470e469754a24!2zQnJhc8OtbGlhLCBERg!5e0!3m2!1spt-BR!2sbr!4v1696420551151!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                            <form class="row g-3">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome">
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu e-mail">
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem"
                                        placeholder="Digite sua mensagem" name="mensagem" rows="10"></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>